*{
    margin: 0;
    padding: 0;
}
body,html{
    height: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:#5f8a6a;
}
h1{
    margin-left: 20px;
    padding-left:20px;
    padding:20px;
    color:white;
    font-size: 60px;
    width: 50%;
    text-align:left;
    margin:60px;
}
p{
    padding:100px;
    margin: 10px;
    padding-left: 60%;
    text-align:right 30px;
    color:aliceblue;
    font-size: 20px;
}
.parent{
    
    width:100%;
    height:100%;
    display: contents;
    
}

.son{
    width:100%;
   display: flex;
}
.son .left{
    width:50%;
}

.son .right{
    width:50%;
}
.daughter{
    /* margin-left: 20px;
    margin-right: 20px;
    height:50%; */
    width:100%;
}
img{
    width:90%;
    display: block;
    margin: auto;
    
}

/*mobile devices*/
@media (min-width:320px) and (max-width:480px){
    *{
        margin: 0;
        padding: 0;
    }
    body,html{
        height: 100%;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color:#5f8a6a;
    }
    h1{
        margin: 10px;
        padding-left:20px;
        padding:10px;
        color:white;
        font-size: 20px;
        width: 50%;
        text-align:left;
    }
    p{
        padding:5px;
        margin: 20px;
        padding-left:5%;
        text-align:right;
        color:aliceblue;
        font-size: 10px;
    }
    .parent{
        
        width:100%;
        height:100%;
        display: contents;
        
    }
    
    .son{
        width:100%;
       display: flex;
    }
    .son .left{
        width:50%;
    }
    
    .son .right{
        width:50%;
    }
    .daughter{
        /* margin-left: 20px;
        margin-right: 20px;
        height:50%; */
        width:100%;
    }
    img{
        width:90%;
        display: block;
        margin: auto;
    }
}

/*tablet devices*/
@media (min-width:481px) and (max-width:768px){
    *{
        margin: 0;
        padding: 0;
    }
    body,html{
        height: 100%;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color:#5f8a6a;
    }
    h1{
        margin: 10px;
        padding-left:20px;
        padding:20px;
        color:white;
        font-size: 30px;
        width: 50%;
        text-align:left;
    }
    p{
        padding:10px;
        margin: 30px;
        padding-left:10%;
        text-align:right;
        color:aliceblue;
        font-size: 12px;
    }
    .parent{
        
        width:100%;
        height:100%;
        display: contents;
        
    }
    
    .son{
        width:100%;
       display: flex;
    }
    .son .left{
        width:50%;
    }
    
    .son .right{
        width:50%;
    }
    .daughter{
         margin-left: 20px;
        margin-right: 20px;
        height:50%;
        width:100%;
    }
    img{
        width: 50%;
        display: block;
        margin: auto;
    }
} 

/*laptop devices*/
@media (min-width:769px) and (max-width:1024px) {
    *{
        margin: 0;
        padding: 0;
    }
    body,html{
        height: 100%;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color:#5f8a6a;
    }
    h1{
        margin:60px;
        margin-left: 20px;
        padding-left:20px;
        padding:20px;
        color:white;
        font-size: 45px;
        width: 50%;
        text-align:left;
        
    }
    p{
        padding:50px;
        margin: 40px;
        padding-left:10%;
        text-align:right;
        color:aliceblue;
        font-size: 20px;
    }
    .parent{
        
        width:100%;
        height:100%;
        display: contents;
        
    }
    
    .son{
        width:100%;
       display: flex;
    }
    .son .left{
        width:50%;
    }
    
    .son .right{
        width:50%;
    }
    .daughter{
        /* margin-left: 20px;
        margin-right: 20px;
        height:50%; */
        width:100%;
    }
    img{
        width:90%;
        display: block;
        margin: auto;
    }
}